<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <p class="text"><i>We got you! To say thanks, we have a special offer for you. <br><b>Refer someone to sign up and we'll give you a free month of Roadsidely when it launches in your city!</i></b></p>
    <p class="text">
      <% if @user.count %>
        Your referrals: <%= @user.count %><br />
        <% else %>
        You haven't referred anyone yet.<br />
      <% end %>
      Link: <a href="#"><%= "#{root_url}?code=#{@user.code}" %></a><br />
      <a href="https://twitter.com/intent/tweet?counturl=http://wwww.roadsidely.com/&related=roadsidely&url=<%=u "#{root_url}?code=#{@user.code}"%>&text=Get+on+demand+roadside+assistance+from+your+phone+with+@Roadsidely.+Uber+meets+AAA.+Sign+up+at&" class="btn share twitter" target="_blank">Tweet</a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%=u "#{root_url}?code=#{@user.code}"%>" class="btn share facebook" target="_blank">Post</a>
      <a href="https://plus.google.com/share?url=<%= "#{root_url}?code=#{@user.code}" %>" onclick="javascript:window.open(this.href,
        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn share googleplus">Share</a>
      </p>
  </div>
</div>

<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6009054242330';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6009054242330&amp;value=0&amp;currency=USD" /></noscript>